html {
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
  color: #000;
  position: relative;
  font-family: 'Open Sans', arial, sans-serif;
  overflow-x: hidden;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a,
a:hover {
  text-decoration: none !important;
}

a:hover {
  color: #b52622;
}

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

:hover,
:focus {
  outline: none !important;
}

p:empty {
  display: none !important;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}

iframe {
  width: 100% !important;
  max-width: 100% !important;
}

figure {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.container {
  max-width: 1030px;
  width: 100% !important;
  margin: 0px auto;
}

img {
  max-width: 100%;
  height: auto;
}


/*HEADER*/

.middle_header {
  background: #8d0003;
}

.middle_header .container {
  max-width: 1038px;
}

.bottom_header {
  background: #9f0004;
}

.bottom_header .container {
  max-width: 1038px;
}

.logo_site {
  width: 284px;
  position: relative;
  height: 90px;
  margin: 28px;
}

.logo_site img {
  position: absolute;
  left: -48px;
}

.menu_header {
  float: left;
}

.qb_memu_header li {
  float: left;
}

.qb_memu_header li a {
  padding: 0 14px;
  line-height: 48px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.search_form {
  float: right;
  position: relative;
}

.search_form .icon_search {
  color: #fff;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  text-align: center;
}

.search_form .tg_off {
  position: absolute;
  width: 340px;
  padding: 20px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  border-top: 5px solid #8d0003;
  top: 53px;
  right: -3px;
  background: #fff;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.search_form .tg_off.tg_on {
  opacity: 1 !important;
  visibility: visible !important;
  top: 48px !important;
  pointer-events: auto;
}

.search_form .tg_off::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 6px solid #8d0003;
  top: -11px;
  right: 22px;
}

.search_form .wrap_search_header {
position: relative;
z-index: 20;
}

.search_form .wrap_search_header input[type="text"] {
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 5px 30px 5px 7px;
}

.search_form .wrap_search_header button {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #000;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.search_form .wrap_search_header button:hover {
  background: #8d0003;
}
/*END HEADER*/
/*FOOTER*/
.footer .container{
  max-width: 1038px;
}
.top_footer{
  padding: 40px 0px;
}
.top_footer .wrap_figure .textwidget  figure{
  max-width: 230px;
  width: 100%;
  margin: 30px 0px 0px 0px;
}
.top_footer .widget-title{
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}
.top_footer .about_us  .textwidget p{
  line-height: 10px;
  color: #fff;
  font-size: 12px;
}
.bottom_footer {
  padding: 8px 0px;
}
.bottom_footer .copy_right  .textwidget p{
  color: #fff;
  margin: 0px;
  font-size: 10px;
}
/*END FOOTER*/